button {
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;
	color: inherit;
	font: inherit;
	line-height: inherit;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	white-space: normal;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none;
	outline: unset
}

a,
b,
body,
caption,
dd,
div,
dl,
dt,
em,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
mark,
nav,
object,
ol,
p,
q,
s,
section,
span,
td,
th,
tr,
tt,
u,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

footer,
header,
nav,
section {
	display: block
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

q {
	quotes: none
}

q:after,
q:before {
	content: "";
	content: none
}

@font-face {
	font-family: Cambon Demi;
	src: url(/static/fonts/Cambon-Demi.woff2) format("woff2"), url(/static/fonts/Cambon-Demi.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: Lausanne;
	src: url(/static/fonts/Lausanne-300.woff2) format("woff2"), url(/static/fonts/Lausanne-300.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: Lausanne;
	src: url(/static/fonts/Lausanne-300Italic.woff2) format("woff2"), url(/static/fonts/Lausanne-300Italic.woff) format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap
}

@font-face {
	font-family: Messina Sans Mono;
	src: url(/static/fonts/MessinaSansMonoWeb-Regular.woff2) format("woff2"), url(/static/fonts/MessinaSansMonoWeb-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

.aic {
	-webkit-box-align: center;
	align-items: center
}

.bg-blue {
	background-color: #3f5262
}

.bg-teal {
	background-color: #528486
}

.bg-tan {
	background-color: #fbf7eb
}

.bn {
	border: none
}

.ba {
	border: 1px solid #3f5262
}

.bt,
.bv {
	border-top: 1px solid #3f5262
}

.bb,
.bv {
	border-bottom: 1px solid #3f5262
}

.bl {
	border-left: 1px solid #3f5262
}

.br {
	border-right: 1px solid #3f5262
}

.bc-tan {
	border-color: #fbf7eb
}

.br2 {
	border-radius: 2px
}

.br3 {
	border-radius: 3px
}

.br4 {
	border-radius: 4px
}

.br7 {
	border-radius: 7px
}

.br10 {
	border-radius: 10px
}

.br13 {
	border-radius: 13px
}

.br16 {
	border-radius: 16px
}

.c-blue {
	color: #3f5262
}

.c-tan {
	color: #fbf7eb
}

.db {
	display: block
}

.dib {
	display: inline-block
}

.df {
	display: -webkit-box;
	display: flex
}

.dn {
	display: none
}

.fr {
	-webkit-box-direction: normal;
	flex-direction: row
}

.fr {
	-webkit-box-orient: horizontal
}

.fc {
	-webkit-box-direction: normal;
	flex-direction: column
}

.fc {
	-webkit-box-orient: vertical
}

.fnw {
	flex-wrap: nowrap
}

.fw {
	flex-wrap: wrap
}

.fi {
	-webkit-box-flex: 0;
	flex: 0 1 auto
}

.f1 {
	flex: 1 1 0%
}

.f1,
.fa {
	-webkit-box-flex: 1
}

.fa {
	flex: 1 1 auto
}

.fn {
	-webkit-box-flex: 0;
	flex: none
}

.serif {
	font-family: Cambon Demi, serif
}

.sans {
	font-family: Lausanne, sans-serif
}

.mono {
	font-family: Messina Sans Mono, monospace
}

.f0 {
	font-size: 0
}

.f11 {
	font-size: 1.1rem
}

.f12 {
	font-size: 1.2rem
}

.f14 {
	font-size: 1.4rem
}

.f16 {
	font-size: 1.6rem
}

.f18 {
	font-size: 1.8rem
}

.f22 {
	font-size: 2.2rem
}

.f27 {
	font-size: 2.7rem
}

.f32 {
	font-size: 3.2rem
}

.f36 {
	font-size: 3.6rem
}

.f38 {
	font-size: 3.8rem
}

.i {
	font-style: italic
}

.jcc {
	-webkit-box-pack: center;
	justify-content: center
}

.jcb {
	-webkit-box-pack: justify;
	justify-content: space-between
}

.ls01em {
	letter-spacing: .01em
}

.ls02em {
	letter-spacing: .02em
}

.lh111 {
	line-height: 1.11
}

.lh119 {
	line-height: 1.19
}

.lh1156 {
	line-height: 1.156
}

.lh120 {
	line-height: 1.2
}

.lh125 {
	line-height: 1.25
}

.lh1318 {
	line-height: 1.318
}

.lh133 {
	line-height: 1.33
}

.lh138 {
	line-height: 1.38
}

.lh1437 {
	line-height: 1.437
}

.lh150 {
	line-height: 1.5
}

.lh155 {
	line-height: 1.55
}

.lh1625 {
	line-height: 1.625
}

.ma {
	margin: auto
}

.mhn15 {
	margin-left: -1.5rem
}

.mhn15 {
	margin-right: -1.5rem
}

.mhn5 {
	margin-left: -.5rem
}

.mhn5 {
	margin-right: -.5rem
}

.m0 {
	margin: 0
}

.m5 {
	margin: .5rem
}

.mb5 {
	margin-bottom: .5rem
}

.mb10 {
	margin-bottom: 1rem
}

.mr10 {
	margin-right: 1rem
}

.mb15 {
	margin-bottom: 1.5rem
}

.mb20 {
	margin-bottom: 2rem
}

.mb25 {
	margin-bottom: 2.5rem
}

.mb30 {
	margin-bottom: 3rem
}

.mb35 {
	margin-bottom: 3.5rem
}

.mt40 {
	margin-top: 4rem
}

.mb40 {
	margin-bottom: 4rem
}

.mr40 {
	margin-right: 4rem
}

.mb45 {
	margin-bottom: 4.5rem
}

.mt50 {
	margin-top: 5rem
}

.mb50 {
	margin-bottom: 5rem
}

.mb70 {
	margin-bottom: 7rem
}

.mb80 {
	margin-bottom: 8rem
}

.mb165 {
	margin-bottom: 16.5rem
}

.max-w600 {
	max-width: 60rem
}

.max-w700 {
	max-width: 70rem
}

.o-cover {
	-o-object-fit: cover;
	object-fit: cover
}

.o0 {
	opacity: 0
}

.o80 {
	opacity: .8
}

.on1 {
	-webkit-box-ordinal-group: 0;
	order: -1
}

.oh {
	overflow: hidden
}

.oy {
	overflow-y: auto;
	overflow-x: hidden
}

.ox,
.oy {
	-webkit-overflow-scrolling: touch
}

.ox {
	overflow-x: auto
}

.p0 {
	padding: 0
}

.pb0 {
	padding-bottom: 0
}

.p5 {
	padding: .5rem
}

.pt5,
.pv5 {
	padding-top: .5rem
}

.pv5 {
	padding-bottom: .5rem
}

.ph5 {
	padding-left: .5rem
}

.ph5 {
	padding-right: .5rem
}

.pt10,
.pv10 {
	padding-top: 1rem
}

.pb10,
.pv10 {
	padding-bottom: 1rem
}

.ph10,
.pl10 {
	padding-left: 1rem
}

.ph10,
.pr10 {
	padding-right: 1rem
}

.pt15,
.pv15 {
	padding-top: 1.5rem
}

.pb15,
.pv15 {
	padding-bottom: 1.5rem
}

.ph15 {
	padding-left: 1.5rem
}

.ph15 {
	padding-right: 1.5rem
}

.pt20,
.pv20 {
	padding-top: 2rem
}

.pb20,
.pv20 {
	padding-bottom: 2rem
}

.ph20,
.pl20 {
	padding-left: 2rem
}

.ph20,
.pr20 {
	padding-right: 2rem
}

.p25 {
	padding: 2.5rem
}

.pt25 {
	padding-top: 2.5rem
}

.ph25,
.pl25 {
	padding-left: 2.5rem
}

.ph25 {
	padding-right: 2.5rem
}

.pt30 {
	padding-top: 3rem
}

.pb30 {
	padding-bottom: 3rem
}

.ph30 {
	padding-left: 3rem
}

.ph30 {
	padding-right: 3rem
}

.ph35 {
	padding-left: 3.5rem
}

.ph35 {
	padding-right: 3.5rem
}

.pt40 {
	padding-top: 4rem
}

.pr50 {
	padding-right: 5rem
}

.pb55 {
	padding-bottom: 5.5rem
}

.pb70 {
	padding-bottom: 7rem
}

.pt80 {
	padding-top: 8rem
}

.pt90 {
	padding-top: 9rem
}

.pb100 {
	padding-bottom: 10rem
}

.pt105 {
	padding-top: 10.5rem
}

.pb180 {
	padding-bottom: 18rem
}

.pen {
	pointer-events: none
}

.rel {
	position: relative
}

.abs {
	position: absolute
}

.fix {
	position: fixed
}

.fill {
	right: 0;
	left: 0
}

.fill {
	top: 0;
	bottom: 0
}

.fill-x {
	right: 0;
	left: 0
}

.top {
	top: 0
}

.right {
	right: 0
}

.bottom {
	bottom: 0
}

.left {
	left: 0
}

.lazy-image,
.r {
	height: 0;
	position: relative
}

.lazy-image__img-wrap,
.lazy-image__lqip,
.ro {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.r--4x3 {
	padding-top: 75%
}

.r--1x1 {
	padding-top: 100%
}

.x {
	width: 100%
}

.y {
	height: 100%
}

.w5 {
	width: 5%
}

.w40 {
	width: 40%
}

.w50 {
	width: 50%
}

.w55 {
	width: 55%
}

.w60 {
	width: 60%
}

.w80 {
	width: 80%
}

.third {
	width: 33.33333%
}

.ttu {
	text-transform: uppercase
}

.tdu {
	text-decoration: underline
}

.tc {
	text-align: center
}

.tl {
	text-align: left
}

.tr {
	text-align: right
}

.tj {
	text-align: justify
}

.wrap {
	white-space: normal
}

.nowrap,
.truncate {
	white-space: nowrap
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis
}

.wct {
	will-change: transform
}

.wco {
	will-change: opacity
}

.z0 {
	z-index: 0
}

.z1 {
	z-index: 1
}

.z2 {
	z-index: 2
}

.z3 {
	z-index: 3
}

.z4 {
	z-index: 4
}

.z5 {
	z-index: 5
}

.z7 {
	z-index: 7
}

.z8 {
	z-index: 8
}

.z9 {
	z-index: 9
}

.z10 {
	z-index: 10
}

@media(min-width:415px) {
	.xs\:max-w305 {
		max-width: 30.5rem
	}
	.xs\:pl15 {
		padding-left: 1.5rem
	}
	.xs\:pr15 {
		padding-right: 1.5rem
	}
	.xs\:ph20 {
		padding-left: 2rem
	}
	.xs\:ph20 {
		padding-right: 2rem
	}
	.xs\:w90 {
		width: 90%
	}
}

@media(min-width:650px) {
	.s\:db {
		display: block
	}
	.s\:dib {
		display: inline-block
	}
	.s\:di {
		display: inline
	}
	.s\:f14 {
		font-size: 1.4rem
	}
	.s\:f18 {
		font-size: 1.8rem
	}
	.s\:f20 {
		font-size: 2rem
	}
	.s\:f21 {
		font-size: 2.1rem
	}
	.s\:f52 {
		font-size: 5.2rem
	}
	.s\:ls02em {
		letter-spacing: .02em
	}
	.s\:lh1138 {
		line-height: 1.138
	}
	.s\:mhn10 {
		margin-left: -1rem
	}
	.s\:mhn10 {
		margin-right: -1rem
	}
	.s\:mr5 {
		margin-right: .5rem
	}
	.s\:mb10 {
		margin-bottom: 1rem
	}
	.s\:mb20 {
		margin-bottom: 2rem
	}
	.s\:mb45 {
		margin-bottom: 4.5rem
	}
	.s\:mb60 {
		margin-bottom: 6rem
	}
	.s\:ph10 {
		padding-left: 1rem
	}
	.s\:ph10 {
		padding-right: 1rem
	}
	.s\:pb30 {
		padding-bottom: 3rem
	}
	.s\:pt150 {
		padding-top: 15rem
	}
	.s\:w70 {
		width: 70%
	}
	.s\:w80 {
		width: 80%
	}
}

@media(min-width:850px) {
	.m\:br4 {
		border-radius: 4px
	}
	.m\:db {
		display: block
	}
	.m\:df {
		display: -webkit-box;
		display: flex
	}
	.m\:dn {
		display: none
	}
	.m\:f14 {
		font-size: 1.4rem
	}
	.m\:f16 {
		font-size: 1.6rem
	}
	.m\:f18 {
		font-size: 1.8rem
	}
	.m\:f22 {
		font-size: 2.2rem
	}
	.m\:f32 {
		font-size: 3.2rem
	}
	.m\:f38 {
		font-size: 3.8rem
	}
	.m\:ls02em {
		letter-spacing: .02em
	}
	.m\:mhn15 {
		margin-left: -1.5rem
	}
	.m\:mhn15 {
		margin-right: -1.5rem
	}
	.m\:mhn10 {
		margin-left: -1rem
	}
	.m\:mhn10 {
		margin-right: -1rem
	}
	.m\:mb0 {
		margin-bottom: 0
	}
	.m\:mb5 {
		margin-bottom: .5rem
	}
	.m\:mb15 {
		margin-bottom: 1.5rem
	}
	.m\:mb20 {
		margin-bottom: 2rem
	}
	.m\:mb30 {
		margin-bottom: 3rem
	}
	.m\:mb40 {
		margin-bottom: 4rem
	}
	.m\:mb45 {
		margin-bottom: 4.5rem
	}
	.m\:mt60 {
		margin-top: 6rem
	}
	.m\:mb65 {
		margin-bottom: 6.5rem
	}
	.m\:mb70 {
		margin-bottom: 7rem
	}
	.m\:mb80 {
		margin-bottom: 8rem
	}
	.m\:mb100 {
		margin-bottom: 10rem
	}
	.m\:mb110 {
		margin-bottom: 11rem
	}
	.m\:mr160 {
		margin-right: 16rem
	}
	.m\:pr0 {
		padding-right: 0
	}
	.m\:ph10 {
		padding-left: 1rem
	}
	.m\:ph10 {
		padding-right: 1rem
	}
	.m\:ph15,
	.m\:pl15 {
		padding-left: 1.5rem
	}
	.m\:ph15 {
		padding-right: 1.5rem
	}
	.m\:pl20 {
		padding-left: 2rem
	}
	.m\:pl25 {
		padding-left: 2.5rem
	}
	.m\:pr25 {
		padding-right: 2.5rem
	}
	.m\:pr30 {
		padding-right: 3rem
	}
	.m\:pv35 {
		padding-top: 3.5rem
	}
	.m\:pv35 {
		padding-bottom: 3.5rem
	}
	.m\:ph40,
	.m\:pl40 {
		padding-left: 4rem
	}
	.m\:ph40,
	.m\:pr40 {
		padding-right: 4rem
	}
	.m\:ph45 {
		padding-left: 4.5rem
	}
	.m\:ph45 {
		padding-right: 4.5rem
	}
	.m\:pb50 {
		padding-bottom: 5rem
	}
	.m\:ph50 {
		padding-left: 5rem
	}
	.m\:ph50 {
		padding-right: 5rem
	}
	.m\:pt75 {
		padding-top: 7.5rem
	}
	.m\:pt105 {
		padding-top: 10.5rem
	}
	.m\:pb110 {
		padding-bottom: 11rem
	}
	.m\:pt200 {
		padding-top: 20rem
	}
	.m\:pb200 {
		padding-bottom: 20rem
	}
	.m\:w25 {
		width: 25%
	}
	.m\:w40 {
		width: 40%
	}
	.m\:w50 {
		width: 50%
	}
	.m\:w60 {
		width: 60%
	}
}

@media(min-width:1050px) {
	.l\:db {
		display: block
	}
	.l\:f18 {
		font-size: 1.8rem
	}
	.l\:f22 {
		font-size: 2.2rem
	}
	.l\:f24 {
		font-size: 2.4rem
	}
	.l\:f72 {
		font-size: 7.2rem
	}
	.l\:ls02em {
		letter-spacing: .02em
	}
	.l\:mb45 {
		margin-bottom: 4.5rem
	}
	.l\:mb100 {
		margin-bottom: 10rem
	}
	.l\:mb105 {
		margin-bottom: 10.5rem
	}
	.l\:mb110 {
		margin-bottom: 11rem
	}
	.l\:mb115 {
		margin-bottom: 11.5rem
	}
	.l\:max-w850 {
		max-width: 85rem
	}
	.l\:max-w920 {
		max-width: 92rem
	}
	.l\:pt0 {
		padding-top: 0
	}
	.l\:pl40 {
		padding-left: 4rem
	}
	.l\:pr40 {
		padding-right: 4rem
	}
	.l\:p50 {
		padding: 5rem
	}
	.l\:pr75 {
		padding-right: 7.5rem
	}
	.l\:ph80,
	.l\:pl80 {
		padding-left: 8rem
	}
	.l\:ph80,
	.l\:pr80 {
		padding-right: 8rem
	}
	.l\:w60 {
		width: 60%
	}
}

@media(min-width:1200px) {
	.xl\:f50 {
		font-size: 5rem
	}
	.xl\:mb140 {
		margin-bottom: 14rem
	}
	.xl\:pt45 {
		padding-top: 4.5rem
	}
	.xl\:pl80 {
		padding-left: 8rem
	}
	.xl\:pr80 {
		padding-right: 8rem
	}
	.xl\:ph140 {
		padding-left: 14rem
	}
	.xl\:ph140 {
		padding-right: 14rem
	}
	.xl\:pl150 {
		padding-left: 15rem
	}
	.xl\:w50 {
		width: 50%
	}
}

* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html {
	font-size: 10px
}

@media(min-width:1440px) {
	html {
		font-size: .6944444444vw
	}
}

body,
html {
	width: 100%;
	height: 100%
}

body {
	-webkit-transition: opacity 1s cubic-bezier(.165, .84, .44, 1);
	transition: opacity 1s cubic-bezier(.165, .84, .44, 1)
}

::selection {
	background-color: #3f5262;
	color: #fbf7eb
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400
}

a {
	color: currentColor;
	text-decoration: none
}

.about-carousel__button {
	position: relative;
	-webkit-transition: opacity .3s cubic-bezier(.165, .84, .44, 1);
	transition: opacity .3s cubic-bezier(.165, .84, .44, 1)
}

.about-carousel__button>span {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: 1rem;
	background-color: #bc8540;
	-webkit-transform-origin: left;
	transform-origin: left
}

.about-carousel__button:hover {
	opacity: .8
}

.about-carousel__content {
	position: absolute
}

.accordion__header {
	outline: unset;
	position: relative
}

.accordion__header:after,
.accordion__header:before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1px;
	background-color: #3f5262;
	-webkit-transition: -webkit-transform .3s cubic-bezier(.165, .84, .44, 1);
	transition: -webkit-transform .3s cubic-bezier(.165, .84, .44, 1);
	transition: transform .3s cubic-bezier(.165, .84, .44, 1);
	transition: transform .3s cubic-bezier(.165, .84, .44, 1), -webkit-transform .3s cubic-bezier(.165, .84, .44, 1);
	height: 2px;
	width: 1.8rem;
	right: 1.5rem;
	border-radius: 1px
}

.accordion__header:after {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

.accordion__header[aria-expanded=true]:after,
.accordion__header[aria-expanded=true]:before {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg)
}

.accordion__panel {
	margin: 0;
	max-height: 75vh;
	overflow: hidden;
	-webkit-transition: all .3s cubic-bezier(.165, .84, .44, 1);
	transition: all .3s cubic-bezier(.165, .84, .44, 1);
	max-height: 0;
	-webkit-transform: none;
	transform: none
}

.accordion__panel p {
	margin-bottom: 1em
}

.accordion__panel.is-hidden {
	max-height: 0!important;
	visibility: hidden
}

.burger {
	-webkit-transition: -webkit-transform .2s cubic-bezier(.23, 1, .32, 1);
	transition: -webkit-transform .2s cubic-bezier(.23, 1, .32, 1);
	transition: transform .2s cubic-bezier(.23, 1, .32, 1);
	transition: transform .2s cubic-bezier(.23, 1, .32, 1), -webkit-transform .2s cubic-bezier(.23, 1, .32, 1);
	will-change: transform
}

body.is-nav-open .burger {
	-webkit-transform: translateX(6rem);
	transform: translateX(6rem)
}

@media(min-width:415px) {
	body.is-nav-open .burger {
		-webkit-transform: translateX(8.5rem);
		transform: translateX(8.5rem)
	}
}

@media(min-width:650px) {
	body.is-nav-open .burger {
		-webkit-transform: translateX(10rem);
		transform: translateX(10rem)
	}
}

@media(min-width:850px) {
	body.is-nav-open .burger {
		-webkit-transform: translateX(10.5rem);
		transform: translateX(10.5rem)
	}
}

@media(min-width:1050px) {
	body.is-nav-open .burger {
		-webkit-transform: translateX(11.5rem);
		transform: translateX(11.5rem)
	}
}

.burger__label {
	opacity: 0;
	-webkit-transition: opacity .2s cubic-bezier(.215, .61, .355, 1);
	transition: opacity .2s cubic-bezier(.215, .61, .355, 1)
}

body.is-nav-open .burger__label {
	opacity: 1
}

.burger__icon {
	width: 3.2rem;
	height: 2.8rem;
	padding: .6rem;
	border-color: rgba(63, 82, 98, 0);
	-webkit-transition: border-color .2s cubic-bezier(.215, .61, .355, 1);
	transition: border-color .2s cubic-bezier(.215, .61, .355, 1)
}

.burger:focus.focus-visible .burger__icon {
	border-color: #3f5262
}

body.is-nav-open .burger:focus.focus-visible .burger__icon {
	border-color: #fbf7eb
}

.burger__icon span {
	display: block;
	width: 1.8rem;
	height: 2px;
	border-radius: 3px;
	overflow: hidden;
	-webkit-transition: -webkit-transform .4s cubic-bezier(.23, 1, .32, 1);
	transition: -webkit-transform .4s cubic-bezier(.23, 1, .32, 1);
	transition: transform .4s cubic-bezier(.23, 1, .32, 1);
	transition: transform .4s cubic-bezier(.23, 1, .32, 1), -webkit-transform .4s cubic-bezier(.23, 1, .32, 1)
}

.burger__icon span:nth-child(2) {
	-webkit-transition: opacity .2s cubic-bezier(.23, 1, .32, 1);
	transition: opacity .2s cubic-bezier(.23, 1, .32, 1)
}

body.is-nav-open .burger__icon span:first-child {
	-webkit-transform: translateY(6px) rotate(45deg);
	transform: translateY(6px) rotate(45deg)
}

body.is-nav-open .burger__icon span:nth-child(2) {
	opacity: 0
}

body.is-nav-open .burger__icon span:nth-child(3) {
	-webkit-transform: translateY(-6px) rotate(-45deg);
	transform: translateY(-6px) rotate(-45deg)
}

.burger__icon span:after,
.burger__icon span:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

.burger__icon span:before {
	background-color: #3f5262
}

.burger__icon span:after {
	background-color: #fbf7eb;
	opacity: 0;
	-webkit-transition: opacity .2s cubic-bezier(.215, .61, .355, 1);
	transition: opacity .2s cubic-bezier(.215, .61, .355, 1)
}

body.is-nav-open .burger__icon span:after {
	opacity: 1
}

.button {
	-webkit-transition-property: background-color, border-color, color;
	transition-property: background-color, border-color, color;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-timing-function: cubic-bezier(.165, .84, .44, 1);
	transition-timing-function: cubic-bezier(.165, .84, .44, 1)
}

.button:hover {
	color: #fbf7eb;
	background-color: #528486;
	border-color: #528486
}

.button--tan {
	border-color: #fbf7eb
}

.button--tan:hover {
	background-color: #fbf7eb;
	color: #528486
}

.event-card__date {
	padding: .5rem 1rem;
	border-bottom-right-radius: 4px
}

@media(min-width:850px) {
	.event-card__date {
		padding: .8rem 1.4rem
	}
}

.footer__logo {
	width: 7.7rem
}

@media(min-width:850px) {
	.footer__logo {
		width: 10rem
	}
}

@media(min-width:1050px) {
	.footer__logo {
		width: 12rem
	}
}

.footer__content a {
	-webkit-transition: .3s cubic-bezier(.165, .84, .44, 1);
	transition: .3s cubic-bezier(.165, .84, .44, 1)
}

.footer__content a:hover {
	opacity: .8
}

.footer__funded-by a {
	text-decoration: underline
}

.footer__mit {
	width: 5.8rem
}

@media(min-width:850px) {
	.footer__mit {
		width: 7rem
	}
}

@media(min-width:1050px) {
	.footer__mit {
		width: 8rem
	}
}

.header__logo {
	width: 18rem
}

@media(min-width:415px) {
	.header__logo {
		width: 21.2rem
	}
}

@media(min-width:650px) {
	.header__logo {
		width: 27rem
	}
}

@media(min-width:1050px) {
	.header__logo {
		width: 30rem
	}
}

.header__mit {
	width: 4rem
}

@media(min-width:415px) {
	.header__mit {
		width: 5.5rem
	}
}

@media(min-width:650px) {
	.header__mit {
		width: 7rem
	}
}

@media(min-width:1050px) {
	.header__mit {
		width: 8rem
	}
}

.lazy-image {
	z-index: 1;
	overflow: hidden
}

.lazy-image__lqip {
	-webkit-filter: blur(4px);
	filter: blur(4px);
	-webkit-transform: scale(1.05);
	transform: scale(1.05)
}

.lazy-image__img-wrap {
	opacity: 0;
	-webkit-transition: opacity .2s cubic-bezier(.215, .61, .355, 1);
	transition: opacity .2s cubic-bezier(.215, .61, .355, 1)
}

.lazy-image.is-loaded .lazy-image__img-wrap {
	opacity: 1
}

.mobile-nav {
	opacity: 0;
	-webkit-transition: opacity .2s cubic-bezier(.215, .61, .355, 1);
	transition: opacity .2s cubic-bezier(.215, .61, .355, 1);
	pointer-events: none
}

@media(min-width:850px) {
	.mobile-nav {
		display: none
	}
}

body.is-nav-open .mobile-nav {
	opacity: 1;
	pointer-events: auto
}

.mobile-nav__items {
	-webkit-transition: -webkit-transform .8s cubic-bezier(.19, 1, .22, 1);
	transition: -webkit-transform .8s cubic-bezier(.19, 1, .22, 1);
	transition: transform .8s cubic-bezier(.19, 1, .22, 1);
	transition: transform .8s cubic-bezier(.19, 1, .22, 1), -webkit-transform .8s cubic-bezier(.19, 1, .22, 1);
	-webkit-transform: translateY(2rem);
	transform: translateY(2rem)
}

body.is-nav-open .mobile-nav__items {
	-webkit-transform: none;
	transform: none
}

.mobile-nav__item {
	-webkit-transition: opacity .8s cubic-bezier(.19, 1, .22, 1), -webkit-transform .8s cubic-bezier(.19, 1, .22, 1);
	transition: opacity .8s cubic-bezier(.19, 1, .22, 1), -webkit-transform .8s cubic-bezier(.19, 1, .22, 1);
	transition: opacity .8s cubic-bezier(.19, 1, .22, 1), transform .8s cubic-bezier(.19, 1, .22, 1);
	transition: opacity .8s cubic-bezier(.19, 1, .22, 1), transform .8s cubic-bezier(.19, 1, .22, 1), -webkit-transform .8s cubic-bezier(.19, 1, .22, 1);
	opacity: 0
}

.mobile-nav__item:first-child {
	-webkit-transform: translateY(.25rem);
	transform: translateY(.25rem);
	-webkit-transition-delay: 0s;
	transition-delay: 0s
}

.mobile-nav__item:nth-child(2) {
	-webkit-transform: translateY(1rem);
	transform: translateY(1rem);
	-webkit-transition-delay: .02s;
	transition-delay: .02s
}

.mobile-nav__item:nth-child(3) {
	-webkit-transform: translateY(2.25rem);
	transform: translateY(2.25rem);
	-webkit-transition-delay: .04s;
	transition-delay: .04s
}

.mobile-nav__item:nth-child(4) {
	-webkit-transform: translateY(4rem);
	transform: translateY(4rem);
	-webkit-transition-delay: .06s;
	transition-delay: .06s
}

.mobile-nav__item:nth-child(5) {
	-webkit-transform: translateY(6.25rem);
	transform: translateY(6.25rem);
	-webkit-transition-delay: .08s;
	transition-delay: .08s
}

.mobile-nav__item:nth-child(6) {
	-webkit-transform: translateY(9rem);
	transform: translateY(9rem);
	-webkit-transition-delay: .1s;
	transition-delay: .1s
}

body.is-nav-open .mobile-nav__item {
	opacity: 1;
	-webkit-transform: none;
	transform: none
}

.modal__inner {
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	position: absolute;
	top: 1rem;
	left: 1rem;
	right: 1rem;
	min-height: calc(100vh - 1rem)
}

@media(min-width:850px) {
	.modal__inner {
		top: 4rem;
		left: 4rem;
		right: 4rem;
		min-height: calc(100vh - 4rem)
	}
}

@media(min-width:1050px) {
	.modal__inner {
		top: 7.5rem;
		left: 8rem;
		right: 8rem;
		min-height: calc(100vh - 7.5rem)
	}
}

.modal__x {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-left: 1rem;
	width: 2.4rem;
	height: 2.4rem
}

@media(min-width:850px) {
	.modal__x {
		width: 4rem;
		height: 4rem;
		margin-left: 2.5rem
	}
}

.modal__x:after,
.modal__x:before {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #3f5262;
	border-radius: 1px;
	position: absolute
}

.modal__x:after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)
}

.nav__column {
	width: 10rem
}

@media(min-width:1050px) {
	.nav__column {
		width: 12rem
	}
}

.nav__link {
	position: relative
}

.nav__link:before {
	width: 9px;
	height: 9px;
	background-color: #3f5262;
	border-radius: 50%;
	bottom: 10px;
	left: -20px;
	opacity: 0;
	-webkit-transform: scale(.75);
	transform: scale(.75);
	-webkit-transition: all .3s cubic-bezier(.215, .61, .355, 1);
	transition: all .3s cubic-bezier(.215, .61, .355, 1)
}

.nav__link:after,
.nav__link:before {
	content: "";
	display: block;
	position: absolute
}

.nav__link:after {
	width: 100%;
	height: 1px;
	background-color: #bc8540;
	bottom: 4px;
	-webkit-transition: -webkit-transform .4s cubic-bezier(.77, 0, .175, 1);
	transition: -webkit-transform .4s cubic-bezier(.77, 0, .175, 1);
	transition: transform .4s cubic-bezier(.77, 0, .175, 1);
	transition: transform .4s cubic-bezier(.77, 0, .175, 1), -webkit-transform .4s cubic-bezier(.77, 0, .175, 1);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left;
	transform-origin: left
}

.nav__link:hover:after {
	-webkit-transform: scaleX(1);
	transform: scaleX(1)
}

.nav__link.is-active:before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.project-slider.is-draggable {
	cursor: grab;
	cursor: -webkit-grab
}

.project-slider.is-dragging {
	cursor: grabbing;
	cursor: -webkit-grabbing
}

.project-slider__item {
	width: 47%
}

@media(min-width:1050px) {
	.project-slider__item {
		width: 30%
	}
}

.project-slider__item__inner {
	cursor: pointer;
	-webkit-transition: opacity .4s cubic-bezier(.165, .84, .44, 1);
	transition: opacity .4s cubic-bezier(.165, .84, .44, 1)
}

.project-slider__item__inner:hover {
	opacity: .8
}

.publication:hover {
	text-decoration: underline
}

.section-title:before {
	content: "";
	width: 1rem;
	height: 1rem;
	display: inline-block;
	background-color: currentColor;
	border-radius: 50%;
	margin-right: 1rem
}

.skip-link {
	opacity: 0;
	pointer-events: none;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}

.skip-link:focus {
	opacity: 1;
	pointer-events: auto
}

.texture--1 {
	-webkit-transform: translateX(38%);
	transform: translateX(38%)
}

@media(min-width:650px) {
	.texture--1 {
		-webkit-transform: translateX(60%);
		transform: translateX(60%)
	}
}

.texture--3 {
	width: 84%;
	-webkit-transform: translateX(-25%);
	transform: translateX(-25%)
}

@media(min-width:850px) {
	.texture--3 {
		width: 100%
	}
}
