{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <!-- Page content -->
{#    <div class="header">#}
{#        <h1> The Gender Novels Project </h1>#}
{#    </div>#}
    <div class = "page-header">

   <h1>
      The Gender Novels Project
   </h1>

</div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="topic-content">
                <h2>Computational Reading of Gender in Novels, 1770-1922</h2>
                    <p>
                        The first project of the MIT Digital Humanities Lab analyzed the description of gender
                        and gender roles across a large repertory of novels in the English language, primarily
                        from the nineteenth century and early twentieth century. Our goal was to build
                        computational tools that helped us understand how conceptions of gender were expressed
                        and changed through distant reading of thousands of books. Our database involves over
                        4200 novels sourced from the Gutenberg project and gives us a comprehensive look at the
                        views of authors of the time period.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                <div class="image">
                <p>
                    <img src="/static/markdowns/images/gender_novels_cover_image.png" alt="" title="" />
                </p>
                </div>
                </div>
                <div class="row">
                <div class="links">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
                </a>
                <br />This work is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
                </div>
                </div>
            </div>
            <div class="col">
                <div class="goals">
                <h2>Our Goals</h2>

                            <p>
                                As the first project of the lab, we are very excited to begin our research in the field
                                of gender studies. The use of gender has changed over the centuries, not only in our
                                culture, but also in its role in our literature.  We are directing our research at
                                novels written by authors as famous as Jane Austen and others that are much more
                                obscure, such as Mary E. Mann. By looking at the history of our books, we hope to be
                                able to study the ever-adapting and changing view on gender by writers all around the
                                globe in the nineteenth and twentieth centuries.
                            </p>

                            <p1>
                                It is the hope of the lab that by embarking on this mission, we are able to draw on the
                                views and opinions of the past to diagnose potential causes, solutions, and sources of
                                gender-based discrimination and stereotyping. We have asked questions and performed
                                comparisons such as examining passive and active voice, pronoun frequencies, and much
                                more.
                            </p1>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
