{% extends "base.html" %}

    {% block extra_header %}

<style>
    text {
        fill: black;
        text-anchor: middle;
    }
</style>
<script src="https://d3js.org/d3.v5.min.js"></script>

    {% endblock extra_header %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    <!-- Page content -->
    <div class="container-fluid content">
        <div class="row justify-content-start">
            <div class="col-2">
            </div>
            <div class="col-8">
                <div class="topic-content">
                   <h1>Basic Subject vs Object Pronoun Frequency Analysis</h1>

<p><strong>This markdown file contains data from an analysis of feminine
and masculine subject pronouns vs object pronouns.</strong></p>

<p>The code used for this analysis can be found in
gender_pronoun_freq_analysis.py</p>

<p>Two analyses were conducted on this subject. The first compares
how often each gender's pronouns were used in the subject within
their gender, i.e., what portion of female pronouns are subject pronouns
and what portion of male pronouns are subject pronouns. The
second analysis compares the frequency of masculine and
feminine pronouns in subject pronouns, ie, what portion of
subject pronouns are masculine vs feminine.</p>

<h2>First Analysis</h2>

<p>This analysis first separated the pronouns into masculine
and feminine pronouns and compared frequencies within these
categories.</p>

<h3>Overall</h3>

<p>These frequencies are the portion of pronouns of a certain
gender that are subject pronouns. Thus, on average, approximately 72% of
masculine pronouns in a given novel are subject pronouns while approximately
45% of feminine pronouns are subject pronouns.</p>
 <div class="row">
     <div class='col-md-6'>
         <p>Male:
0.72</p>
                    <!-- make graphic resize based on size of screen -->
                    <svg width="300" height="200"> </svg>
 <script>
    const data = [{name: "Subject", val: 72}, {name: "Object", val: 28}];

    const svg = d3.select("svg"),
        width = svg.attr("width"),
        height = svg.attr("height"),
        radius = Math.min(width, height) / 2,
        g = svg.append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    // const color = d3.scaleOrdinal(['#ca3542', '#27647b']);
    const color = d3.scaleOrdinal(['#BDE894', '#FFD1FE'])


    // Generate the arcs
    const arc = d3.arc()
                .innerRadius(0)
                .outerRadius(radius);

    const label = d3.arc()
                      .outerRadius(radius)
                      .innerRadius(radius - 90);

        // Generate the pie
    const create_pie = d3.pie()
                .value(function(d) {
                    return d.val;
                });

    const pie_data = create_pie(data);



    //Generate groups
    const arcs = g.selectAll("arc")
                .data(pie_data)
                .enter()
                .append("g")
                .attr("class", "arc")

    //Draw arc paths
    arcs.append("path")
        .attr("fill", function(d, i) {
            return color(i);
        })
        .attr("d", arc);


    arcs.append("text")
        .attr("transform", function(d) {
                        return "translate(" + label.centroid(d) + ")";
                })
               .text(function(d) { return d.data.name; });


</script> <!--

    arcs.append("text")
        .attr("text-anchor", "middle")
        .attr("x", function(d) {
            var a = d.startAngle + (d.endAngle - d.startAngle)/2 - Math.PI/2;
            d.cx = Math.cos(a) * (radius - 45);
            return d.x = Math.cos(a) * (radius+30);
        })
        .attr("y", function(d) {
            var a = d.startAngle + (d.endAngle - d.startAngle)/2 - Math.PI/2;
            d.cy = Math.sin(a) * (radius - 45);
            return d.y = Math.sin(a) * (radius + 30);
        })
        .text(function(d) { return d.value.toFixed(2);  })
        .each(function(d) {
            var bbox = this.getBBox();
            d.sx = d.x - bbox.width/2 - 2;
            d.ox = d.x + bbox.width/2 + 2;
            d.sy = d.oy = d.y + 5;
        });
-->



<!--
         <script>
             const data = [{name: "Subject", val: 72}, {name: "Object", val: 28}];
             var w = 600,
    h = 400,
    r = Math.min(w, h) / 2,
    labelr = r + 30, // radius for label anchor
    // color = d3.scale.category20(),
                 color = d3.scaleOrdinal(['#ca3542', '#27647b']),
    // donut = d3.layout.pie(),
                 donut = d3.pie(),
    arc = d3.arc().innerRadius(r*.6).outerRadius(r);

var vis = d3.select("body")
  .append("svg:svg")
    .data([data])
    .attr("width", w + 150)
    .attr("height", h);

var arcs = vis.selectAll("g.arc")
    .data(donut.value(function(d) { return d.val }))
  .enter().append("svg:g")
    .attr("class", "arc")
    .attr("transform", "translate(" + (r + 30) + "," + r + ")");

arcs.append("svg:path")
    .attr("fill", function(d, i) { return color(i); })
    .attr("d", arc);

arcs.append("text")
    .attr("text-anchor", "middle")
    .attr("x", function(d) {
        var a = d.startAngle + (d.endAngle - d.startAngle)/2 - Math.PI/2;
        d.cx = Math.cos(a) * (r - 45);
        return d.x = Math.cos(a) * (r+30);
    })
    .attr("y", function(d) {
        var a = d.startAngle + (d.endAngle - d.startAngle)/2 - Math.PI/2;
        d.cy = Math.sin(a) * (r - 45);
        return d.y = Math.sin(a) * (r + 30);
    })
    .text(function(d) { return d.value.toFixed(2);  })
    .each(function(d) {
        var bbox = this.getBBox();
        d.sx = d.x - bbox.width/2 - 2;
        d.ox = d.x + bbox.width/2 + 2;
        d.sy = d.oy = d.y + 5;
    });

	arcs.append("path")
    .attr("class", "pointer")
    .style("fill", "none")
    .style("stroke", "black")

    .attr("d", function(d) {
     console.log(d);
        if(d.cx > d.ox) {
            return "M" + d.sx + "," + d.sy + "L" + d.ox + "," + d.oy + " " + d.cx + "," + d.cy;
        } else {
            return "M" + d.ox + "," + d.oy + "L" + d.sx + "," + d.sy + " " + d.cx + "," + d.cy;
        }
    });
         </script> -->

     </div>
     <div class="col-md-6">
         <p>Female: 0.45</p>
     </div>


<h3>Binned</h3>

<p>The following are averages of the same frequency but binned
over author gender, date published, and location.</p>

<h4>Female pronouns:</h4>

<p>The following are frequencies of female pronouns that are
 subject pronouns.</p>

<p>By author gender: </p>

<p>Male author: 0.44</p>

<p>Female author: 0.46</p>

<p>By date: (<code>NaN</code> means no novels from this range available)</p>

<p>To 1810 : 0.41</p>

<p>1810 to 1819 : 0.45</p>

<p>1820 to 1829 : <code>NaN</code></p>

<p>1830 to 1839 : 0.35</p>

<p>1840 to 1849 : 0.42</p>

<p>1850 to 1859 : 0.39 </p>

<p>1860 to 1869 : 0.48 </p>

<p>1870 to 1879 : 0.48 </p>

<p>1880 to 1889 : 0.42 </p>

<p>1890 to 1899 : <code>NaN</code></p>

<p>1900 on : 0.47</p>

<p>By location:</p>

<p>England: 0.44 </p>

<p>United States: 0.45 </p>

<p>Other: 0.43</p>

<h4>Male Pronouns</h4>

<p>By author gender:</p>

<p>Male author: 0.73</p>

<p>Female author: 0.72</p>

<p>By date:</p>

<p>To 1810: 0.71</p>

<p>1810 to 1819: 0.70 </p>

<p>1820 to 1829: <code>NaN</code></p>

<p>1830 to 1839: 0.70 </p>

<p>1840 to 1849: 0.69 </p>

<p>1850 to 1859: 0.70 </p>

<p>1860 to 1869: 0.73 </p>

<p>1870 to 1879: 0.73 </p>

<p>1880 to 1889: 0.73 </p>

<p>1890 to 1899: <code>NaN</code></p>

<p>1900 on: 0.73</p>

<p>By location:</p>

<p>England: 0.72</p>

<p>US: 0.73</p>

<p>Other: 0.72</p>

<h3>Thoughts</h3>

<p>We noticed no trends in the binning for this analysis.
It did seem notable that about 72% of all male pronouns were
subject pronouns while only about 45% of female pronouns
were subject pronouns.</p>

<h2>Analysis 2</h2>

<p>This analysis looked at the percentage of subject pronouns
that were male verses female. The following frequencies are
the portion of subject pronouns that are female.</p>

<h3>Overall</h3>

<p>Overall: 0.32</p>

<p>Thus, on average, about 32% of the subject pronouns in a given
novel were feminine.</p>

<h3>Binned</h3>

<h4>By author gender:</h4>

<p>Male author: 0.24</p>

<p>Female author: 0.43</p>

<h4>By date:</h4>

<p>To 1810: 0.45</p>

<p>1810 to 1819: 0.42</p>

<p>1820 to 1829: <code>NaN</code></p>

<p>1830 to 1839: 0.10</p>

<p>1840 to 1849: 0.32</p>

<p>1850 to 1859: 0.39</p>

<p>1860 to 1869: 0.43</p>

<p>1870 to 1879: 0.38</p>

<p>1880 to 1889: 0.22</p>

<p>1890 to 1899: <code>NaN</code> </p>

<p>1900 on: 0.31</p>

<h4>By location:</h4>

<p>England: 0.30</p>

<p>US: 0.34</p>

<p>Other: 0.30</p>

<h3>Thoughts</h3>

<p>For this analysis, we found the overall comparison and the
comparison by author gender most noteworthy. We noticed no
trends in the date binning, though there is a strange deviancy
from the norm in the 1830's. We noticed no trend based on location.</p>

<h2>Overall Thoughts</h2>

<p>Analysis #1 is probably the most useful of the two. The results
observed in analysis #2 are likely due to just the frequency of
male vs female pronoun use in general as observed in an earlier
analysis (see <a href="/info/pronoun_frequency_analysis">Pronoun Frequency</a>).</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
